body {
    margin: 0;
}

.ham_menu {
    width: 100%;
    border: 2px solid black;
}

.hum_button {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    align-content: center;
    position: absolute;
    right: 0;
    border: 2px solid black;
}

.hum_button>span,
.hum_button>span::before,
.hum_button>span::after {
    display: block;
    content: '';
    width: 10px;
    height: 5px;
    background-color: black;
}

.hum_button>span::before {
    margin-bottom: 2px;
}

.hum_button>span::after {
    margin-top: 2px;
}
