.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    border: 2px solid #FF0000;
    width: 100%;
    /* height: 600px; для демонстрации выравнивания*/
}

.animal{
    min-height: 200px;
    min-width: 300px;
    background-color: #CCCCCC;
    border: 2px solid #999999;
    margin: 10px;
    text-align: center;
}
.cat1{
    background-image: url("../images/cat1.jpg");
    /* align-self: flex-start; */
    order: 4;
    flex-grow: 2;
}
.cat2{
    background-image: url("../images/cat2.jpg");
    /* align-self: center; */
    order: 6;
    flex-grow: 3;
}
.cat3{
    background-image: url("../images/cat3.jpg");
    order: 2;
    flex-grow: 2;
}