body {
  margin: 0;
}

.inner_grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 3;
  box-sizing: border-box;
  grid-gap: 20px;
}

.site_header {
  grid-column-start: 1;
  grid-column-end: 4;
  border: 2px solid black;
}

.catalog_container {
  border: 2px solid black;
  grid-column-start: 1;
  grid-column-end: 4;
}

.site_footer {
  border: 2px solid black;
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
}

.catalog_grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  grid-template-columns: 3;
  grid-template-rows: 5;
}

.filter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  border: 2px solid black;
}

.sort {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 2px solid black;
}

.good {
  border: 2px solid black;
}

p {
  font-size: 18px;
  text-align: center;
}

button {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
